* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.full-website {
    background: url(img/bgc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menubar {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 9%;
}

.menu {
    width: 50%;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.menu ul a {
    display: block;
    padding: 21px 25px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 21px;
}

.icon {
    display: none;
    font-size: 25px;
}


/* section-1 end */

.section-3 {
    color: #fff;
}

.section-4 {
    color: #fff;
    padding-bottom: 25px;
    ;
}

.modal-header {
    color: #000000;
    text-transform: uppercase;
}

.head h3 {
    text-align: center;
    margin-bottom: 15px;
}

@media(max-width:576px) {
    .logo {
        width: 23%;
        margin-top: 9px;
    }
    .menu ul {
        display: none;
    }
    .icon {
        display: block;
        width: 83px;
        padding: 10px 25px;
    }
}

@media(max-width:720px) {
    .logo {
        width: 20%;
    }
    .menu ul a {
        padding: 10px 16px;
        font-size: 18px;
    }
}

@media(max-width:960px) {
    .logo {
        width: 14%;
    }
    .menu ul a {
        padding: 21px 33px;
        font-size: 18px;
    }
}